
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;   
  display: flex;   
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}


#container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: min-content;
  justify-content: center;
}

.card-section {  
  position: relative;
  width: 100%;   
  height: 50%; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;

}
.form-section{
  background-color: white;
  height: 50%; 
}


/* =================================================================== */
.card-section .card-background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,52,89,1) 0%, rgba(0,168,232,1) 90% );
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(100% 0%, 100% 47%, 100% 100%, 50% 77%, 0 100%, 0 0);

}

.card-wrapper {      
  perspective: 1000px;   
  width: 300px;
  height: 200px;
  position: relative;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s linear;    
  color: white;
  font-size: 1.5em;
  
}
.card .element{
  font-family: 'Play', sans-serif;  
  width: 100%;
  height: auto;
  padding: 0 .5em;
}

.front-side,
.back-side{
  width: 300px;
  height: 200px; 
  background-color: #21D4FD;
  background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255,1) 0%, rgba(151,255,129,1) 86.3% );
  position: absolute;
  box-shadow: 0 0 20px rgb(33, 36, 35);      
  border-radius: 10px ; 
  color:white;
  display: flex;
  flex-wrap: wrap;

}


.card .element #chip-card{ 
  width: 40px;
  border-radius: 10px;
}
.card .element #logo-card{      
  margin-top: .5em;  
  display: flex;
  justify-content: flex-end;
  width: 50px;
  float: right;
}

.card .element #card-number{
  text-align: center;
  display: block;
  font-size: 1em;  
  
}
.card .col-2{
  display: flex;
}
.card .front-side .col-2{ 
  justify-content: space-between;
}

.card .element #card-number,
.card .element #card-name,
.card .element #card-date{ 
  color: white;
}
.card .element #card-name,
.card .element #card-date{ 
  display: inline-block;
  font-size: 12px;  
  padding: 1em;
}


/* back side card */
.card .back-side .col-2{ 
  padding:  .5em 0 0 .5em;
}
      
.back-side {  
  transform: rotateY(180deg);
  
}

.magnetic-strip{
  height: 25%;
  background: rgb(0, 0, 0);  
  margin-top: 5%; 
}
    
#signature-panel{
  background: rgb(194, 187, 178);
  width: 70%;
  height: min-content;
  margin-right: .5em;
  font-family: 'Homemade Apple', cursive;
  color: rgb(17, 15, 15);
  font-size: medium;
  padding: .5em .1em;

}

#card-cvv{
  font-size: .8em;
  width: auto; 
}

/* =========================================================== */
.form-section{  
  height: 50%;
  width: 100%;
  color: #333;
  /* color: #d34444; */
  font-weight: 500; 
  font-family: 'Play', sans-serif;
  font-family: 'Raleway', sans-serif;
}

#form{
  position: relative;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#form #title{
  display: inline-block;
  margin: auto;
}

#form .form-field label{
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}
#form .form-field .input-field{
  font-family: 'Play', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #3a8dc5;
  padding: .5em 0;
}

#form .col-1{
  width: 90%;
  margin: auto;
}

#form .col-2{
  width: 41%;
  margin: auto;
  
}

button{
  margin: auto;
  width: 80%;
  
  background-color: #3a8dc5;
  color: white;
  font-weight: bolder;
  padding: .8em;
  border: none;
  outline: none;
  transition: ease-in-out 300ms all;
}

button:hover{
  background-position: right center; 
  transform: scale(1.02);
  cursor: pointer;
}

.form-section .alert{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-section .alert span{
  margin: 1em .5em;
  font-size: 1.5em;
  font-weight: 600;
}
.form-section .alert i{
  margin: 1em 0;
  font-size: 1.5em;
}
.hidden{
  display: none !important;
}
.result{  
  text-transform: capitalize;
}
.valid{
  color: green;
}
.invalid{
  color: rgb(173, 32, 13);
}
#rpts{
  display: block;
  text-align: center;
  width: 100%;
  color: rgb(214, 133, 27) !important;
  font-weight: 700;
}
/* LARGE SIZE  */
@media(min-width: 500px) and (max-width: 1200px) {  

  
  #container{
    max-width:700px ;
    width: 80%;
    height: 80%;
    background: white;
    box-shadow: 0 0 20px rgb(33, 36, 35); 

  }
  .form-section{
    width:70%;
  }
}
@media(min-width: 1201px) {
 
  #container{
    width: 60%;
    height: 60%;
    box-shadow: 0 0 20px rgb(33, 36, 35); 
  }  
  .card-section{
    min-width:300px;
    background: white;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-section .card-background{
    position: absolute;
    width: 100%;
    border-radius: 0 !important;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 41% 100%, 0% 100%);
  }
  /* .card-wrapper {         
    top: 0; 
    width: 400px;
    height: 250px; 
  }

  .front-side,
  .back-side{
    width: 400px;
    height: 250px;
  } */

  .form-section{
    background-color: #fff;
    width:50%;
    height: 100%;   
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .form-section #form{
    width: 80%;
    margin: 1em;
    height: 80%;   
  }
}