*{
      box-sizing: border-box;
}

body{
      background-image: url(wallpaper.jpg);
      color: white;
      font-family: 'Quicksand', sans-serif;
      padding: 0 1.5em;
}

/* Estilos para formulario de pago */
.content{
      margin-top: 5%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      padding:  1.5em; 
      text-align: center;
      /* background:rgb(241, 241, 219) ; */
      
}

.payment-form {
      text-align: center;
      margin: 1em;
      max-width: 700px;
      padding: 2em;
      background: transparent rgb(65, 63, 63);     
}

.payment-form button,
.payment-form input{
      width: 100%;
      padding: 1em;
      border: none;
      /* outline: none; */
      margin: .4em ;
      border-radius: .2em;
}

.payment-form button{
      background: rgb(226, 195, 16);
      color: white;
      max-width: 50%;
      text-transform: uppercase;
      font-weight: bolder;
}

.payment-form label{
      display: block;
}

.alert span{
      color: black;
      
}
.alert{
      padding: 1em;
}
/* Estilos para tarjeta de credito */
.card-wrapper{      
      display: inline-block;         
}

.card{      
      max-width: 700px;
      height: auto !important;
      min-height: 400px;
      height: 150em;      
      padding: 1em;
      border-radius: 1em ;        
      background: linear-gradient(70deg,rgb(57, 57, 173),rgb(67, 177, 67));
      
}

.front-side,
.back-side{
      margin: 0;      
      height: auto;
      width: auto;
}

.front-side{
      display: grid;
      grid-template-areas:    "ship ship"
                              "number number"
                              "fullName expiredDate";      
      align-items: stretch;
}
.front-side > *{
      margin: 1em;
}
.ship-card{
      grid-area: ship;
      background-image: url("chip.png");      
      /* background: linear-gradient(10deg,rgb(230, 216, 216),rgb(161, 138, 5)); */
      /* background: rgb(238, 199, 27); */
      border-radius: .5em;
      width: 15%;
      /* height: 15%; */
      min-height: 80px;
}

.number-card{
      grid-area: number;
      font-size: 2.2em;
      font-weight: bolder;
      text-align: center;
      letter-spacing: .1em;

}
.full-name{grid-area: fullName;}
.expired-date{ grid-area: expiredDate;}

.full-name,
.expired-date{
      font-size: 2em;      
      /* text-align: center; */
}

.back-side{
      display: none;
}

.alert span{
      font-weight: bolder;
}

.alert{
      /* display: none; */
      max-width: 700px;
      background:white; 
      border-radius: .5em;
      border: solid;
      /* border-color: black; */
}